.cache
.checkstyle
.classpath
.coverage
.coverage.*
.DS_Store
.factorypath
.gradle
.hypothesis/
.idea/
.mtj.tmp/
.node
.project
.settings
*,cover
*.class
*.ear
*.iml
*.ipr
*.iws
*.jar
*.war
**/build/
**/var/data
**/var/log
bin
coverage.xml
fileeditor
generated_src/
generated_testSrc/
generated/
hs_err_pid*
htmlcov/
nosetests.xml
out/
!gradle/wrapper/gradle-wrapper.jar
